/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
}

h1 {
  font-style: italic;
  color: #373fff;
}



.grid {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 2fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "header header header header"
    "center1 center1 center1 center1"
    "center2 center2 center2 center2"
    "f1 f2 f3 f4"
    "footer footer footer footer";
}

.grid2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "header header header"
    "center2 center2 center2"
    "center1 footer footer";
}


.grid-container > div {
  padding: 20px 0;
  font-size: 30px;
}


.gridpart {
  text-align:center;
  background-color:black;
  justify-self:stretch;
  align-self:stretch;
}


.parallax {
  /* The image used */
  background-image: url('https://i.imgur.com/WZBYTcs.jpg');

  /* Full height */
  height: 100%; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.p2 {
  backgournd-image: url(https://cdn.glitch.com/c6684ea7-82fe-4b1f-8b9e-00eac35d3188%2FforP2.png?v=1578430696263);
  height: 100%; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.grid3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  rid-template-areas:
    "note note note radio";
}