/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
}

h1 {
  font-style: italic;
  color: #373fff;
}



.grid {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 2fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "f1 f2 f3 f4"
    "footer footer footer footer";
}

.grid2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas:
    "header header header"
    "center2 center2 center2"
    "center1 footer footer";
}


.grid-container > div {
  padding: 20px 0;
  font-size: 30px;
}


.gridpart {
  text-align:center;
  justify-self:stretch;
  align-self:stretch;
}


.parallax {
  /* The image used */
  background-image: url('https://i.imgur.com/WZBYTcs.jpg');

  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.parallax2 {
  /* The image used */
  background-image: url('https://cdn.glitch.com/c6684ea7-82fe-4b1f-8b9e-00eac35d3188%2Fradio.jpeg?v=1578486556525');

  /* Full height */
  height: 10%; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}



.p2 {
   /* The image used */
  background-image: url('https://cdn.glitch.com/c6684ea7-82fe-4b1f-8b9e-00eac35d3188%2FforP2.png');

  /* Full height */
  height: 100%; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.grid3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 100px;
  rid-template-areas:
    "note1 note2 note3 radio";
}


.container{
  position: relative;
  text-align: center;
  color: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}



.footergrid {
  display: grid;
  grid-template-columns: 150px 150px;
  grid-template-rows: 150px 150px;
  grid-gap: 10px;
}
