body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT6hj4FZdqIWHPVmPlBYq3MOVuDiorGifRMgrpbEXRK9kFCqVUy&s');
  background-size: 50%;
}
